In [12]:
import pandas as pd
from datetime import timedelta
import glob
import os
import matplotlib.pyplot as plt

In [13]:
ts = pd.read_csv(r"C:\Users\Administrator\Desktop\raphi_other\repositories\ts\data/raw/blood_glucose/test.csv")

#ts.plot()

In [ ]:
from statsmodels.graphics.tsaplots import plot_acf

# plot the ACF
plot_acf(ts.bg)
plt.show()

#72 colum features

In [66]:
ts.head()

,id,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,...,activity-0:40,activity-0:35,activity-0:30,activity-0:25,activity-0:20,activity-0:15,activity-0:10,activity-0:05,activity-0:00,bg+1:00
0,p01_0,p01,06:10:00,NaN,NaN,9.6,NaN,NaN,9.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.4
1,p01_1,p01,06:25:00,NaN,NaN,9.7,NaN,NaN,9.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.8
2,p01_2,p01,06:40:00,NaN,NaN,9.2,NaN,NaN,8.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5
3,p01_3,p01,06:55:00,NaN,NaN,8.7,NaN,NaN,8.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.8
4,p01_4,p01,07:10:00,NaN,NaN,8.4,NaN,NaN,8.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.7

In [16]:
ts.columns[2:75]

Index(['time', 'bg-5:55', 'bg-5:50', 'bg-5:45', 'bg-5:40', 'bg-5:35',
       'bg-5:30', 'bg-5:25', 'bg-5:20', 'bg-5:15', 'bg-5:10', 'bg-5:05',
       'bg-5:00', 'bg-4:55', 'bg-4:50', 'bg-4:45', 'bg-4:40', 'bg-4:35',
       'bg-4:30', 'bg-4:25', 'bg-4:20', 'bg-4:15', 'bg-4:10', 'bg-4:05',
       'bg-4:00', 'bg-3:55', 'bg-3:50', 'bg-3:45', 'bg-3:40', 'bg-3:35',
       'bg-3:30', 'bg-3:25', 'bg-3:20', 'bg-3:15', 'bg-3:10', 'bg-3:05',
       'bg-3:00', 'bg-2:55', 'bg-2:50', 'bg-2:45', 'bg-2:40', 'bg-2:35',
       'bg-2:30', 'bg-2:25', 'bg-2:20', 'bg-2:15', 'bg-2:10', 'bg-2:05',
       'bg-2:00', 'bg-1:55', 'bg-1:50', 'bg-1:45', 'bg-1:40', 'bg-1:35',
       'bg-1:30', 'bg-1:25', 'bg-1:20', 'bg-1:15', 'bg-1:10', 'bg-1:05',
       'bg-1:00', 'bg-0:55', 'bg-0:50', 'bg-0:45', 'bg-0:40', 'bg-0:35',
       'bg-0:30', 'bg-0:25', 'bg-0:20', 'bg-0:15', 'bg-0:10', 'bg-0:05',
       'bg-0:00'],
      dtype='object')

In [18]:
ts.columns[75:147]

Index(['insulin-5:55', 'insulin-5:50', 'insulin-5:45', 'insulin-5:40',
       'insulin-5:35', 'insulin-5:30', 'insulin-5:25', 'insulin-5:20',
       'insulin-5:15', 'insulin-5:10', 'insulin-5:05', 'insulin-5:00',
       'insulin-4:55', 'insulin-4:50', 'insulin-4:45', 'insulin-4:40',
       'insulin-4:35', 'insulin-4:30', 'insulin-4:25', 'insulin-4:20',
       'insulin-4:15', 'insulin-4:10', 'insulin-4:05', 'insulin-4:00',
       'insulin-3:55', 'insulin-3:50', 'insulin-3:45', 'insulin-3:40',
       'insulin-3:35', 'insulin-3:30', 'insulin-3:25', 'insulin-3:20',
       'insulin-3:15', 'insulin-3:10', 'insulin-3:05', 'insulin-3:00',
       'insulin-2:55', 'insulin-2:50', 'insulin-2:45', 'insulin-2:40',
       'insulin-2:35', 'insulin-2:30', 'insulin-2:25', 'insulin-2:20',
       'insulin-2:15', 'insulin-2:10', 'insulin-2:05', 'insulin-2:00',
       'insulin-1:55', 'insulin-1:50', 'insulin-1:45', 'insulin-1:40',
       'insulin-1:35', 'insulin-1:30', 'insulin-1:25', 'insulin-1:20',
       'insulin-1:15', 'insulin-1:10', 'insulin-1:05', 'insulin-1:00',
       'insulin-0:55', 'insulin-0:50', 'insulin-0:45', 'insulin-0:40',
       'insulin-0:35', 'insulin-0:30', 'insulin-0:25', 'insulin-0:20',
       'insulin-0:15', 'insulin-0:10', 'insulin-0:05', 'insulin-0:00'],
      dtype='object')

In [20]:
ts.columns[147:219]

Index(['carbs-5:55', 'carbs-5:50', 'carbs-5:45', 'carbs-5:40', 'carbs-5:35',
       'carbs-5:30', 'carbs-5:25', 'carbs-5:20', 'carbs-5:15', 'carbs-5:10',
       'carbs-5:05', 'carbs-5:00', 'carbs-4:55', 'carbs-4:50', 'carbs-4:45',
       'carbs-4:40', 'carbs-4:35', 'carbs-4:30', 'carbs-4:25', 'carbs-4:20',
       'carbs-4:15', 'carbs-4:10', 'carbs-4:05', 'carbs-4:00', 'carbs-3:55',
       'carbs-3:50', 'carbs-3:45', 'carbs-3:40', 'carbs-3:35', 'carbs-3:30',
       'carbs-3:25', 'carbs-3:20', 'carbs-3:15', 'carbs-3:10', 'carbs-3:05',
       'carbs-3:00', 'carbs-2:55', 'carbs-2:50', 'carbs-2:45', 'carbs-2:40',
       'carbs-2:35', 'carbs-2:30', 'carbs-2:25', 'carbs-2:20', 'carbs-2:15',
       'carbs-2:10', 'carbs-2:05', 'carbs-2:00', 'carbs-1:55', 'carbs-1:50',
       'carbs-1:45', 'carbs-1:40', 'carbs-1:35', 'carbs-1:30', 'carbs-1:25',
       'carbs-1:20', 'carbs-1:15', 'carbs-1:10', 'carbs-1:05', 'carbs-1:00',
       'carbs-0:55', 'carbs-0:50', 'carbs-0:45', 'carbs-0:40', 'carbs-0:35',
       'carbs-0:30', 'carbs-0:25', 'carbs-0:20', 'carbs-0:15', 'carbs-0:10',
       'carbs-0:05', 'carbs-0:00'],
      dtype='object')

In [32]:
ts.columns[219:291]

Index(['hr-5:55', 'hr-5:50', 'hr-5:45', 'hr-5:40', 'hr-5:35', 'hr-5:30',
       'hr-5:25', 'hr-5:20', 'hr-5:15', 'hr-5:10', 'hr-5:05', 'hr-5:00',
       'hr-4:55', 'hr-4:50', 'hr-4:45', 'hr-4:40', 'hr-4:35', 'hr-4:30',
       'hr-4:25', 'hr-4:20', 'hr-4:15', 'hr-4:10', 'hr-4:05', 'hr-4:00',
       'hr-3:55', 'hr-3:50', 'hr-3:45', 'hr-3:40', 'hr-3:35', 'hr-3:30',
       'hr-3:25', 'hr-3:20', 'hr-3:15', 'hr-3:10', 'hr-3:05', 'hr-3:00',
       'hr-2:55', 'hr-2:50', 'hr-2:45', 'hr-2:40', 'hr-2:35', 'hr-2:30',
       'hr-2:25', 'hr-2:20', 'hr-2:15', 'hr-2:10', 'hr-2:05', 'hr-2:00',
       'hr-1:55', 'hr-1:50', 'hr-1:45', 'hr-1:40', 'hr-1:35', 'hr-1:30',
       'hr-1:25', 'hr-1:20', 'hr-1:15', 'hr-1:10', 'hr-1:05', 'hr-1:00',
       'hr-0:55', 'hr-0:50', 'hr-0:45', 'hr-0:40', 'hr-0:35', 'hr-0:30',
       'hr-0:25', 'hr-0:20', 'hr-0:15', 'hr-0:10', 'hr-0:05', 'hr-0:00'],
      dtype='object')

In [34]:
ts.columns[291:363]

Index(['steps-5:55', 'steps-5:50', 'steps-5:45', 'steps-5:40', 'steps-5:35',
       'steps-5:30', 'steps-5:25', 'steps-5:20', 'steps-5:15', 'steps-5:10',
       'steps-5:05', 'steps-5:00', 'steps-4:55', 'steps-4:50', 'steps-4:45',
       'steps-4:40', 'steps-4:35', 'steps-4:30', 'steps-4:25', 'steps-4:20',
       'steps-4:15', 'steps-4:10', 'steps-4:05', 'steps-4:00', 'steps-3:55',
       'steps-3:50', 'steps-3:45', 'steps-3:40', 'steps-3:35', 'steps-3:30',
       'steps-3:25', 'steps-3:20', 'steps-3:15', 'steps-3:10', 'steps-3:05',
       'steps-3:00', 'steps-2:55', 'steps-2:50', 'steps-2:45', 'steps-2:40',
       'steps-2:35', 'steps-2:30', 'steps-2:25', 'steps-2:20', 'steps-2:15',
       'steps-2:10', 'steps-2:05', 'steps-2:00', 'steps-1:55', 'steps-1:50',
       'steps-1:45', 'steps-1:40', 'steps-1:35', 'steps-1:30', 'steps-1:25',
       'steps-1:20', 'steps-1:15', 'steps-1:10', 'steps-1:05', 'steps-1:00',
       'steps-0:55', 'steps-0:50', 'steps-0:45', 'steps-0:40', 'steps-0:35',
       'steps-0:30', 'steps-0:25', 'steps-0:20', 'steps-0:15', 'steps-0:10',
       'steps-0:05', 'steps-0:00'],
      dtype='object')

In [36]:
ts.columns[363:435]

Index(['cals-5:55', 'cals-5:50', 'cals-5:45', 'cals-5:40', 'cals-5:35',
       'cals-5:30', 'cals-5:25', 'cals-5:20', 'cals-5:15', 'cals-5:10',
       'cals-5:05', 'cals-5:00', 'cals-4:55', 'cals-4:50', 'cals-4:45',
       'cals-4:40', 'cals-4:35', 'cals-4:30', 'cals-4:25', 'cals-4:20',
       'cals-4:15', 'cals-4:10', 'cals-4:05', 'cals-4:00', 'cals-3:55',
       'cals-3:50', 'cals-3:45', 'cals-3:40', 'cals-3:35', 'cals-3:30',
       'cals-3:25', 'cals-3:20', 'cals-3:15', 'cals-3:10', 'cals-3:05',
       'cals-3:00', 'cals-2:55', 'cals-2:50', 'cals-2:45', 'cals-2:40',
       'cals-2:35', 'cals-2:30', 'cals-2:25', 'cals-2:20', 'cals-2:15',
       'cals-2:10', 'cals-2:05', 'cals-2:00', 'cals-1:55', 'cals-1:50',
       'cals-1:45', 'cals-1:40', 'cals-1:35', 'cals-1:30', 'cals-1:25',
       'cals-1:20', 'cals-1:15', 'cals-1:10', 'cals-1:05', 'cals-1:00',
       'cals-0:55', 'cals-0:50', 'cals-0:45', 'cals-0:40', 'cals-0:35',
       'cals-0:30', 'cals-0:25', 'cals-0:20', 'cals-0:15', 'cals-0:10',
       'cals-0:05', 'cals-0:00'],
      dtype='object')

In [48]:
ts.columns[435:507]

Index(['activity-5:55', 'activity-5:50', 'activity-5:45', 'activity-5:40',
       'activity-5:35', 'activity-5:30', 'activity-5:25', 'activity-5:20',
       'activity-5:15', 'activity-5:10', 'activity-5:05', 'activity-5:00',
       'activity-4:55', 'activity-4:50', 'activity-4:45', 'activity-4:40',
       'activity-4:35', 'activity-4:30', 'activity-4:25', 'activity-4:20',
       'activity-4:15', 'activity-4:10', 'activity-4:05', 'activity-4:00',
       'activity-3:55', 'activity-3:50', 'activity-3:45', 'activity-3:40',
       'activity-3:35', 'activity-3:30', 'activity-3:25', 'activity-3:20',
       'activity-3:15', 'activity-3:10', 'activity-3:05', 'activity-3:00',
       'activity-2:55', 'activity-2:50', 'activity-2:45', 'activity-2:40',
       'activity-2:35', 'activity-2:30', 'activity-2:25', 'activity-2:20',
       'activity-2:15', 'activity-2:10', 'activity-2:05', 'activity-2:00',
       'activity-1:55', 'activity-1:50', 'activity-1:45', 'activity-1:40',
       'activity-1:35', 'activity-1:30', 'activity-1:25', 'activity-1:20',
       'activity-1:15', 'activity-1:10', 'activity-1:05', 'activity-1:00',
       'activity-0:55', 'activity-0:50', 'activity-0:45', 'activity-0:40',
       'activity-0:35', 'activity-0:30', 'activity-0:25', 'activity-0:20',
       'activity-0:15', 'activity-0:10', 'activity-0:05', 'activity-0:00',
       'bg+1:00'],
      dtype='object')

In [84]:
ts.shape

(177024, 508)

In [88]:
ts.head()

,id,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,...,activity-0:40,activity-0:35,activity-0:30,activity-0:25,activity-0:20,activity-0:15,activity-0:10,activity-0:05,activity-0:00,bg+1:00
0,p01_0,p01,06:10:00,NaN,NaN,9.6,NaN,NaN,9.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.4
1,p01_1,p01,06:25:00,NaN,NaN,9.7,NaN,NaN,9.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.8
2,p01_2,p01,06:40:00,NaN,NaN,9.2,NaN,NaN,8.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5
3,p01_3,p01,06:55:00,NaN,NaN,8.7,NaN,NaN,8.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.8
4,p01_4,p01,07:10:00,NaN,NaN,8.4,NaN,NaN,8.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.7

In [ ]:
## I need to encode p_num, time and activity