In [ ]:
#https://github.com/jrnold/ssmodels-in-stan/tree/master/StanStateSpace/data-raw
# internet.dat Number of users logged on to an internet server

In [35]:
import requests
from io import BytesIO
from zipfile import ZipFile
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Download the dataset
df = pd.read_csv(r"../data/raw/blood_glucose/train.csv", low_memory=False)

print(df.describe())
#df["activity-0:25"].value_counts()

             bg-5:55        bg-5:50        bg-5:45        bg-5:40  \
count  149770.000000  158533.000000  163364.000000  149766.000000
mean        8.211018       8.230449       8.253291       8.210988
std         2.852188       2.913438       2.945594       2.852090
min         2.200000       2.200000       2.200000       2.200000
25%         6.100000       6.100000       6.100000       6.100000
50%         7.600000       7.600000       7.700000       7.600000
75%         9.800000       9.800000       9.800000       9.800000
max        22.200000      25.100000      27.800000      22.200000

             bg-5:35        bg-5:30        bg-5:25        bg-5:20  \
count  158254.000000  163770.000000  149763.000000  157973.000000
mean        8.229649       8.254083       8.211049       8.228888
std         2.911313       2.947651       2.852212       2.909304
min         2.200000       2.200000       2.200000       2.200000
25%         6.100000       6.100000       6.100000       6.100000
50%         7.600000       7.700000       7.600000       7.600000
75%         9.800000       9.800000       9.800000       9.800000
max        25.100000      27.800000      22.200000      25.100000

             bg-5:15        bg-5:10  ...      cals-0:40      cals-0:35  \
count  164174.000000  149771.000000  ...  141694.000000  141706.000000
mean        8.254602       8.211000  ...       9.364063       9.364096
std         2.949689       2.852315  ...       8.012264       8.012681
min         2.200000       2.200000  ...       0.030000       0.030000
25%         6.100000       6.100000  ...       5.600000       5.600000
50%         7.700000       7.600000  ...       6.180000       6.180000
75%         9.800000       9.800000  ...       9.060000       9.060000
max        27.800000      22.200000  ...     116.100000     116.100000

           cals-0:30      cals-0:25      cals-0:20      cals-0:15  \
count  141713.000000  141722.000000  141732.000000  141741.000000
mean        9.362525       9.366591       9.368108       9.366998
std         8.017508       8.018465       8.018349       8.023788
min         0.030000       0.030000       0.030000       0.030000
25%         5.600000       5.600000       5.600000       5.600000
50%         6.170000       6.180000       6.180000       6.180000
75%         9.050000       9.060000       9.060000       9.060000
max       116.100000     116.100000     116.100000     116.100000

           cals-0:10      cals-0:05      cals-0:00        bg+1:00
count  141751.000000  141761.000000  141767.000000  177024.000000
mean        9.370010       9.372536       9.368960       8.277045
std         8.021999       8.023280       8.023327       2.996398
min         0.030000       0.030000       0.030000       2.200000
25%         5.600000       5.600000       5.600000       6.100000
50%         6.180000       6.180000       6.180000       7.700000
75%         9.060000       9.070000       9.060000       9.900000
max       116.100000     116.100000     116.100000      27.800000

[8 rows x 433 columns]

In [36]:
#df.to_csv('../data/interim/p12.csv', index=True)  # Save to a CSV file

In [37]:
print(df.info())

# Function to downcast float64 to float32
# Downcast float64 columns to float32
float64_cols = df.select_dtypes(include=['float64']).columns
df[float64_cols] = df[float64_cols].astype(np.float32)

# Convert object columns to category
object_cols = df.select_dtypes(include=['object']).columns
df[object_cols] = df[object_cols].astype('category')

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177024 entries, 0 to 177023
Columns: 508 entries, id to bg+1:00
dtypes: float64(433), object(75)
memory usage: 686.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177024 entries, 0 to 177023
Columns: 508 entries, id to bg+1:00
dtypes: category(75), float32(433)
memory usage: 311.2 MB
None

In [5]:
df.time.value_counts()

time
11:55:00    640
16:45:00    638
16:00:00    638
15:45:00    638
16:30:00    637
           ...
00:55:00    594
23:25:00    593
22:25:00    593
00:25:00    591
00:10:00    590
Name: count, Length: 288, dtype: int64

In [180]:
#p3 = df[df['p_num']=="p03"]
patient = "p02"
df_p = df[df['p_num']==patient]

print(df_p.shape)

(25872, 508)

In [181]:
df_p.describe()
# List of columns to keep (as per your request)
columns_to_keep = ['p_num', 'time', 'bg-5:55', 'bg-5:50', 'bg-5:45', 'bg-5:40', 
                   'bg-5:35', 'bg-5:30', 'bg-5:25', 'bg-5:20', 'bg-5:15', 'bg-5:10', 
                   'bg-5:05', 'bg-5:00', 'bg-4:55', 'bg-4:50', 'bg-4:45', 'bg-4:40', 
                   'bg-4:35', 'bg-4:30', 'bg-4:25', 'bg-4:20', 'bg-4:15', 'bg-4:10', 
                   'bg-4:05', 'bg-4:00', 'bg-3:55', 'bg-3:50', 'bg-3:45', 'bg-3:40', 
                   'bg-3:35', 'bg-3:30', 'bg-3:25', 'bg-3:20', 'bg-3:15', 'bg-3:10', 
                   'bg-3:05', 'bg-3:00', 'bg-2:55', 'bg-2:50', 'bg-2:45', 'bg-2:40', 
                   'bg-2:35', 'bg-2:30', 'bg-2:25', 'bg-2:20', 'bg-2:15', 'bg-2:10', 
                   'bg-2:05', 'bg-2:00', 'bg-1:55', 'bg-1:50', 'bg-1:45', 'bg-1:40', 
                   'bg-1:35', 'bg-1:30', 'bg-1:25', 'bg-1:20', 'bg-1:15', 'bg-1:10', 
                   'bg-1:05', 'bg-1:00', 'bg-0:55', 'bg-0:50', 'bg-0:45', 'bg-0:40', 
                   'bg-0:35', 'bg-0:30', 'bg-0:25', 'bg-0:20', 'bg-0:15', 'bg-0:10', 
                   'bg-0:05', 'bg-0:00', 'bg+1:00']

# Drop all columns except the ones in `columns_to_keep`
df_p = df_p[columns_to_keep]

print(df_p.shape)

(25872, 75)

In [182]:
df_p.head()

,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,bg-5:20,...,bg-0:40,bg-0:35,bg-0:30,bg-0:25,bg-0:20,bg-0:15,bg-0:10,bg-0:05,bg-0:00,bg+1:00
8459,p02,06:05:00,9.5,9.6,9.6,9.9,10.1,10.0,10.0,10.1,...,6.8,6.7,6.5,6.5,6.7,6.8,6.7,6.7,6.7,7.1
8460,p02,06:10:00,9.6,9.6,9.9,10.1,10.0,10.0,10.1,10.2,...,6.7,6.5,6.5,6.7,6.8,6.7,6.7,6.7,6.5,7.0
8461,p02,06:15:00,9.6,9.9,10.1,10.0,10.0,10.1,10.2,10.2,...,6.5,6.5,6.7,6.8,6.7,6.7,6.7,6.5,6.5,7.2
8462,p02,06:20:00,9.9,10.1,10.0,10.0,10.1,10.2,10.2,10.3,...,6.5,6.7,6.8,6.7,6.7,6.7,6.5,6.5,6.5,7.4
8463,p02,06:25:00,10.1,10.0,10.0,10.1,10.2,10.2,10.3,10.3,...,6.7,6.8,6.7,6.7,6.7,6.5,6.5,6.5,6.5,7.5

In [89]:
#df_p.to_csv(f'../data/interim/all_patients_full/p_{patient}clean.csv', index=False)  # Save to a CSV file

In [183]:
df_p = pd.read_csv(f'../data/interim/all_patients_full/p_{patient}clean.csv')
df_p

,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,bg-5:20,...,bg-0:40,bg-0:35,bg-0:30,bg-0:25,bg-0:20,bg-0:15,bg-0:10,bg-0:05,bg-0:00,bg+1:00
0,p02,06:05:00,9.5,9.6,9.6,9.9,10.1,10.0,10.0,10.1,...,6.8,6.7,6.5,6.5,6.7,6.8,6.7,6.7,6.7,7.1
1,p02,06:10:00,9.6,9.6,9.9,10.1,10.0,10.0,10.1,10.2,...,6.7,6.5,6.5,6.7,6.8,6.7,6.7,6.7,6.5,7.0
2,p02,06:15:00,9.6,9.9,10.1,10.0,10.0,10.1,10.2,10.2,...,6.5,6.5,6.7,6.8,6.7,6.7,6.7,6.5,6.5,7.2
3,p02,06:20:00,9.9,10.1,10.0,10.0,10.1,10.2,10.2,10.3,...,6.5,6.7,6.8,6.7,6.7,6.7,6.5,6.5,6.5,7.4
4,p02,06:25:00,10.1,10.0,10.0,10.1,10.2,10.2,10.3,10.3,...,6.7,6.8,6.7,6.7,6.7,6.5,6.5,6.5,6.5,7.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25867,p02,23:35:00,8.5,8.7,8.9,9.0,9.0,9.0,9.2,9.5,...,10.5,10.9,10.8,10.8,11.0,11.2,11.4,11.6,11.7,11.6
25868,p02,23:40:00,8.7,8.9,9.0,9.0,9.0,9.2,9.5,9.7,...,10.9,10.8,10.8,11.0,11.2,11.4,11.6,11.7,12.4,10.9
25869,p02,23:45:00,8.9,9.0,9.0,9.0,9.2,9.5,9.7,9.7,...,10.8,10.8,11.0,11.2,11.4,11.6,11.7,12.4,12.8,10.5
25870,p02,23:50:00,9.0,9.0,9.0,9.2,9.5,9.7,9.7,9.7,...,10.8,11.0,11.2,11.4,11.6,11.7,12.4,12.8,12.5,10.4
25871,p02,23:55:00,9.0,9.0,9.2,9.5,9.7,9.7,9.7,9.9,...,11.0,11.2,11.4,11.6,11.7,12.4,12.8,12.5,12.4,10.5

In [199]:
p01_data = df_p[['time', 'bg-0:00']]

nan_rows = p01_data[p01_data.isnull().any(axis=1)]
nan_rows
# Perform linear interpolation on the 'bg-0:00' column
p01_data['bg-0:00'] = p01_data['bg-0:00'].interpolate(method='linear')
p01_data
#nan_rows = p01_data[p01_data.isnull().any(axis=1)]
#nan_rows
# Ensure 'time' column is in datetime format if it isn't already
p01_data['time'] = pd.to_datetime(p01_data['time'], format='%H:%M:%S')

# Filter rows where the time is exactly on the hour
hourly_data = p01_data[p01_data['time'].dt.minute == 0]

# Print the filtered dataframe with only hourly data
#print(hourly_data[['time', 'bg-0:00']])

import pandas as pd

# Assuming 'p01_data' is your dataframe and 'time' is already in datetime format
# Reset the index
p01_data = hourly_data.reset_index(drop=True)

# Set the starting date
start_date = pd.Timestamp('2024-10-02')

# Initialize the day counter
current_date = start_date
updated_times = []

# Iterate over the rows and update the 'time' column with full datetime values
for idx, row in p01_data.iterrows():
    if row['time'].hour == 0 and row['time'].minute == 0:
        # Increment the current date whenever time is 00:00
        current_date += pd.Timedelta(days=1)
    
    # Combine current_date with the time in the row
    new_time = pd.Timestamp.combine(current_date, row['time'].time())
    
    # Append the new datetime value to the updated_times list
    updated_times.append(new_time)

# Update the 'time' column with the new datetime values
p01_data['time'] = updated_times

# Print the final dataframe with the updated 'time' column
#print(p01_data[['time', 'bg-0:00']])

p01_data.set_index('time', inplace=True)

# Print the dataframe to confirm
#print(p01_data)
#print(p01_data.isnull().any())
p01_data.rename(columns={'bg-0:00': 'bg'}, inplace=True)
p01_data.sort_index(inplace=True)
print(p01_data)
p01_data.to_csv(f'../data/processed/cleaned_up_patients/{patient}.csv', index=True)  # Save to a CSV file

                       bg
time
2024-10-02 07:00:00   7.1
2024-10-02 08:00:00   7.0
2024-10-02 09:00:00   6.6
2024-10-02 10:00:00   6.1
2024-10-02 11:00:00  10.4
...                   ...
2024-12-27 19:00:00  10.8
2024-12-27 20:00:00  12.8
2024-12-27 21:00:00   9.9
2024-12-27 22:00:00  12.8
2024-12-27 23:00:00  10.9

[2156 rows x 1 columns]

C:\Users\rapha\AppData\Local\Temp\ipykernel_15120\2578676537.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p01_data['bg-0:00'] = p01_data['bg-0:00'].interpolate(method='linear')
C:\Users\rapha\AppData\Local\Temp\ipykernel_15120\2578676537.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p01_data['time'] = pd.to_datetime(p01_data['time'], format='%H:%M:%S')

In [148]:
#first_day_df.set_index('time', inplace=True)

In [113]:
#first_day_df.sort_index(inplace=True)

In [161]:
first_day_df

,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,bg-5:20,...,bg-0:40,bg-0:35,bg-0:30,bg-0:25,bg-0:20,bg-0:15,bg-0:10,bg-0:05,bg-0:00,bg+1:00
0,p01,06:10:00,NaN,NaN,9.6,NaN,NaN,9.7,NaN,NaN,...,NaN,NaN,17.3,NaN,NaN,16.2,NaN,NaN,15.1,13.4
1,p01,06:25:00,NaN,NaN,9.7,NaN,NaN,9.2,NaN,NaN,...,NaN,NaN,16.2,NaN,NaN,15.1,NaN,NaN,14.4,12.8
2,p01,06:40:00,NaN,NaN,9.2,NaN,NaN,8.7,NaN,NaN,...,NaN,NaN,15.1,NaN,NaN,14.4,NaN,NaN,13.9,15.5
3,p01,06:55:00,NaN,NaN,8.7,NaN,NaN,8.4,NaN,NaN,...,NaN,NaN,14.4,NaN,NaN,13.9,NaN,NaN,13.8,14.8
4,p01,07:10:00,NaN,NaN,8.4,NaN,NaN,8.1,NaN,NaN,...,NaN,NaN,13.9,NaN,NaN,13.8,NaN,NaN,13.4,12.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,p01,22:50:00,NaN,11.7,NaN,NaN,12.1,NaN,NaN,12.2,...,NaN,6.6,NaN,NaN,7.4,NaN,NaN,8.8,NaN,15.4
67,p01,23:05:00,NaN,12.1,NaN,NaN,12.2,NaN,NaN,11.2,...,NaN,7.4,NaN,NaN,8.8,NaN,NaN,11.3,NaN,15.9
68,p01,23:20:00,NaN,12.2,NaN,NaN,11.2,NaN,NaN,9.7,...,NaN,8.8,NaN,NaN,11.3,NaN,NaN,NaN,12.6,15.6
69,p01,23:35:00,NaN,11.2,NaN,NaN,9.7,NaN,NaN,9.6,...,NaN,11.3,NaN,NaN,NaN,12.6,NaN,NaN,14.0,14.8
70,p01,23:50:00,NaN,9.7,NaN,NaN,9.6,NaN,NaN,10.3,...,NaN,NaN,12.6,NaN,NaN,14.0,NaN,NaN,15.4,13.9

In [166]:
import pandas as pd
from datetime import timedelta

#final_df = first_day_df[['time', 'bg-0:00']]
#final_df.head()
#final_df.shape

       time  bg-0:00
0  06:10:00     15.1
1  06:25:00     14.4
2  06:40:00     13.9
3  06:55:00     13.8
4  07:10:00     13.4

In [168]:

# Convert the 'time' column to datetime
first_day_df['time'] = pd.to_datetime(df['time'], format='%H:%M:%S')

# Create an empty list to store the rows for the final dataframe
rows = []

# Iterate through each row
for idx, row in df.iterrows():
    # Get the original time for this row
    base_time = pd.to_datetime(row['time'], format='%H:%M:%S' )
    
    # Iterate through the bg columns
    for col in df.columns:
        if col.startswith('bg'):
            # Extract the time delta from the column name
            time_str = col.split('-')[-1] if '-' in col else col.split('+')[-1]
            time_parts = time_str.split(':')
            
            # Convert hours and minutes from the column name to timedelta
            hours, minutes = int(time_parts[0]), int(time_parts[1])
            time_delta = timedelta(hours=hours, minutes=minutes)
            
            # Adjust the base time according to whether it's a past ('-') or future ('+') event
            if '-' in col:
                event_time = base_time - time_delta
            else:
                event_time = base_time + time_delta
            
            # Get the value of bg for this time
            bg_value = row[col]
            
            # Append the new row if bg_value is not NaN
            if not pd.isna(bg_value):
                rows.append({'time': event_time.time(), 'bg': bg_value})

# Create a new dataframe from the rows list
final_df = pd.DataFrame(rows)

# Sort the final dataframe by time
final_df.sort_values(by='time', inplace=True)
print(final_df)

C:\Users\rapha\AppData\Local\Temp\ipykernel_15120\2169452576.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_day_df['time'] = pd.to_datetime(df['time'], format='%H:%M:%S')

KeyboardInterrupt:

In [156]:
final_df
# Set the 'date' column as the index
final_df.set_index('time', inplace=True)
final_df.sort_index(inplace=True)
final_df


for _, row in first_day_df.iterrows():  # Use iterrows() to iterate through DataFrame rows
        # Ensure 'time' is a datetime object
        start_time = pd.to_datetime(row.time)

        # Extract the first value (assuming the first value is associated with 'bg-0:00')
        first_value = row['bg-0:00']

        # Create a DataFrame for the first entry
        new_row = pd.DataFrame({'time': [start_time], 'bg': [first_value]})
        
        # Concatenate the first row into the final DataFrame
        final_df = pd.concat([final_df, new_row], ignore_index=True)

        # Iterate over the remaining columns (assuming bg columns start at index 2)
        for i, column in enumerate(reversed(row.index[2:-2])):  # Skip the last two columns if needed
            value = row[column]  # Get the value for the current column

            # Create the time for each 'bg-*' column by adding a time delta (adjust as needed)
            time_delta = timedelta(minutes=-15 * (i + 1))  # Example: 5-minute intervals
            new_time = start_time + time_delta  # Adjust time based on column

            # Create a new row for the time and value
            new_row = pd.DataFrame({'time': [new_time], 'bg': [value]})
            
            # Concatenate the new row into the final DataFrame
            final_df = pd.concat([final_df, new_row], ignore_index=True)

    #Set 'time' as the index and sort by time
    #final_df.set_index('time', inplace=True)
    #final_df.sort_index(inplace=True)
    # 
    #

KeyError: "None of ['time'] are in the columns"

In [135]:
final_df.bg.isnull()

time
2024-10-09 00:15:00     True
2024-10-09 00:20:00     True
2024-10-09 00:25:00    False
2024-10-09 00:30:00     True
2024-10-09 00:35:00     True
                       ...
2024-10-09 05:50:00     True
2024-10-09 05:55:00    False
2024-10-09 06:00:00     True
2024-10-09 06:05:00     True
2024-10-09 06:10:00    False
Name: bg, Length: 72, dtype: bool

In [ ]:
# Set the 'date' column as the index
df.set_index('time', inplace=True)
df.sort_index(inplace=True)

In [ ]:
df.to_csv(f'../data/processed/cleaned_up_patients_{patient}.csv', index=True)  # Save to a CSV file

In [ ]:
df

                      bg
time
2024-10-02 00:05:00  8.5
2024-10-02 00:10:00  8.9
2024-10-02 00:15:00  9.2
2024-10-02 00:20:00  9.5
2024-10-02 00:25:00  9.8
...                  ...
2024-10-02 05:40:00  5.5
2024-10-02 05:45:00  5.5
2024-10-02 05:50:00  5.5
2024-10-02 05:55:00  5.5
2024-10-02 06:00:00  5.5

[72 rows x 1 columns]